@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Commerce</h1>
    <p><a asp-controller="ECommerce" asp-action="Index">Shop Now</a></p>
</div>
